/* line 37, ../sass/style.scss */
html, body {
  overflow-x: hidden;
}

/* line 40, ../sass/style.scss */
body {
  font-family: "montserrat";
}

/* line 44, ../sass/style.scss */
h1, h2 {
  font-family: "montserrat";
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

/* line 50, ../sass/style.scss */
h3 {
  color: #586aa5;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

/* line 55, ../sass/style.scss */
h4 {
  color: white;
  text-align: center;
  padding: 10px;
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

/* line 63, ../sass/style.scss */
h5 {
  color: #303c66;
  font-size: 2rem;
}

/* line 67, ../sass/style.scss */
p {
  font-family: "raleway";
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #7d7a7a;
}

/* line 74, ../sass/style.scss */
header {
  height: 100vh;
  position: relative;
  background: url("../img/background-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: fadein 3s linear;
}
/* line 75, ../sass/style.scss */
header #logo {
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 92, ../sass/style.scss */
footer {
  background: #303c66;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}
@media screen and (max-width: 500px) {
  /* line 92, ../sass/style.scss */
  footer {
    display: block;
  }
}

/* line 103, ../sass/style.scss */
.logo-footer {
  padding: 40px;
}
@media screen and (max-width: 500px) {
  /* line 103, ../sass/style.scss */
  .logo-footer {
    margin: 0 auto;
  }
}

/* line 109, ../sass/style.scss */
.footer-nav {
  display: flex;
}
@media screen and (max-width: 500px) {
  /* line 109, ../sass/style.scss */
  .footer-nav {
    text-align: center;
    display: block;
  }
}
/* line 115, ../sass/style.scss */
.footer-nav .footer-nav-item {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 40px;
}

/* line 121, ../sass/style.scss */
section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 125, ../sass/style.scss */
nav {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  display: flex;
  justify-content: flex-end;
  display: none;
}
/* line 131, ../sass/style.scss */
nav .nav-item {
  width: 10%;
  text-align: center;
  font-family: raleway;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
}
@media screen and (max-width: 500px) {
  /* line 125, ../sass/style.scss */
  nav {
    display: none;
  }
}

/* line 143, ../sass/style.scss */
.btn {
  background: #586aa5;
  color: white;
  height: 44px;
  text-align: center;
  margin-top: 20px;
}
/* line 149, ../sass/style.scss */
.btn:hover {
  background: #303c66;
  color: white;
}

/* line 154, ../sass/style.scss */
.hamburger-menu {
  position: fixed;
  top: 2%;
  left: 2%;
  cursor: pointer;
  transition: 2s;
  z-index: 99999;
}
/* line 155, ../sass/style.scss */
.hamburger-menu span {
  margin: 8px;
  height: 1px;
  background-color: white;
  display: block;
  transition: 0.5s linear;
}
/* line 161, ../sass/style.scss */
.hamburger-menu span:nth-child(1) {
  width: 70px;
}
/* line 164, ../sass/style.scss */
.hamburger-menu span:nth-child(2) {
  width: 50px;
}
/* line 167, ../sass/style.scss */
.hamburger-menu span:nth-child(3) {
  width: 30px;
}

/* line 178, ../sass/style.scss */
.service-wrapper {
  width: 100%;
  height: 400px;
  margin: 0px auto;
  background: #586aa5;
}

/* line 184, ../sass/style.scss */
.carousel .carousel-item {
  width: 400px;
}

/* line 187, ../sass/style.scss */
.masking {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(rgba(46, 49, 146, 0.27), rgba(46, 49, 146, 0.44)), url(../img/background-img.jpg);
  background-size: cover;
  color: transparent;
  animation: animatedBackground linear 15s infinite;
  -webkit-animation: animatedBackground linear 15s infinite alternate;
  -moz-animation: none;
  -o-animation: animatedBackground linear 15s infinite;
}

/* line 199, ../sass/style.scss */
.transform1 {
  transform: scaleX(0.5);
}

/* line 202, ../sass/style.scss */
.collapse-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 106, 165, 0.75);
  display: none;
  z-index: 99998;
  transition: 1s linear;
}

/* line 212, ../sass/style.scss */
.collapse-nav-item {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: montserrat;
  margin-top: 5%;
}

/* line 219, ../sass/style.scss */
.info-wrapper {
  font-size: 25px;
  color: #303c66;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.47);
}
/* line 220, ../sass/style.scss */
.info-wrapper i {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
/* line 226, ../sass/style.scss */
.info-wrapper:hover {
  background: white;
  color: #303c66;
}

/* line 241, ../sass/style.scss */
.scroll-section {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 1.5s ease-out infinite alternate;
}
/* line 247, ../sass/style.scss */
.scroll-section i {
  font-size: 20px;
  color: white;
}

/* line 253, ../sass/style.scss */
.block-title {
  position: relative;
  margin-bottom: 80px;
}
/* line 254, ../sass/style.scss */
.block-title:after {
  content: "";
  width: 20%;
  background-color: #cecaca;
  position: absolute;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  top: 120%;
}

/* line 267, ../sass/style.scss */
#about, #map, #contact {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 271, ../sass/style.scss */
#map {
  background-color: #e0e1e6;
}

/* line 275, ../sass/style.scss */
#contact {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("../img/bg-section.jpg");
}

/* line 279, ../sass/style.scss */
form {
  background: rgba(255, 255, 255, 0.7);
  padding: 80px;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  /* line 279, ../sass/style.scss */
  form {
    width: 100%;
    padding: 20px;
  }
}
/* line 288, ../sass/style.scss */
form label {
  font-size: 20px;
  color: #586aa5;
  font-weight: 100;
}
/* line 293, ../sass/style.scss */
form input {
  height: 44px;
}
/* line 296, ../sass/style.scss */
form textarea {
  height: 200px;
  border: 1px solid #586aa5;
}
/* line 300, ../sass/style.scss */
form .btn {
  width: 100%;
  color: white;
  letter-spacing: 3px;
  font-family: "raleway";
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 44px;
}
/* line 307, ../sass/style.scss */
form .btn:hover {
  color: white;
}

/* line 312, ../sass/style.scss */
.service-content {
  margin-top: 20%;
}
/* line 313, ../sass/style.scss */
.service-content .icon-service {
  color: white;
  font-size: 60px;
}
/* line 317, ../sass/style.scss */
.service-content .btn {
  width: 100%;
  color: white;
  letter-spacing: 3px;
  font-family: "raleway";
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 44px;
  background-color: #303c66;
  width: 80%;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bgcolor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #5d7697;
  }
}
@-moz-keyframes bgcolor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #5d7697;
  }
}
@-ms-keyframes bgcolor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #5d7697;
  }
}
@keyframes bgcolor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #5d7697;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@-moz-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@-ms-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-ms-keyframes bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
